<html>

    <head>

        <title>
            details
        </title>
        <style>
h1{
    color:rgb(211, 211, 221);
    font-size: medium;
    font-weight: 400;
    
}
div{
    background-color: black;
    text-align: center;
    margin-left: 18cm;
    margin-right:18cm;
    margin-top: 4cm;
    height: 14cm;

}
div img
{
   width:6cm;
   height:6cm;
   margin-top:0.8cm;
}
        </style>
</head>
        <body>
            <!-- <img src="https://www.deccanherald.com/sites/dh/files/styles/article_detail/public/articleimages/2021/04/14/pti03282021000156b-1-973780-1618369899.jpg?itok=89MNiyGp" alt=""> -->
           
            
           <div>
            <img src="<%= player[0].image%>" alt="">            
            <h1>Player name : <%= player[0].name %></h1>
            <h1> Age : <%= player[0].age %></h1>
            <h1> Runs: <%= player[0].runs %></h1>
            <h1> Role : <%= player[0].type %></h1>
            <h1> Country : <%= player[0].country %></h1>
            <!-- <h1> Strike_rate: <%= player[0].strike_rate %></h1> -->
            <h1> Innings : <%= player[0].innings %></h1>
            <h1> Bataverge: <%= player[0].batavg%></h1>
            <h1> Wickets : <%= player[0].wickets %></h1>
            <h1> Debut : <%= player[0].debut %></h1>
        </div>
        </body>
    
</html>